.auth-modal {
    .modal-body {
        padding: 15px 50px 30px;
        @media (max-width: @screen-xs-max) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .modal-header {
        .modal-title, .modal-subtitle {
            text-align: center;
        }
        .modal-title {
            font-size: 30px;
            margin-top: 10px;
            color: @brand-blue-dark;
            .text-light;
        }
        .modal-subtitle {
            margin-top: 5px;
            font-size: 16px;
            color: @brand-gray-bluish-dark;
        }
    }
    .modal-footer {
        padding: 15px;
        .terms {
            text-align: center;
            color: @brand-gray-bluish;
        }
    }
}

