<!doctype html>
<html ng-app="securityhq">
<head>
  <meta charset="utf-8">
  <title>SecurityHQ</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Glegoo:700' rel='stylesheet' type='text/css'>

  <meta name="description" content="The Slack community for cyber-security professionals world-wide">
  <meta property="og:type" content="website">
  <meta property="og:description" content="The Slack community for cyber-security professionals world-wide">
  <meta property="og:title" content="SecurityHQ">
  <meta property="og:image" content="http://securityhq.io/assets/images/securityhq-avatar.png">
  <meta property="og:url" content="http://securityhq.io/">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@securityhqio">
  <meta name="twitter:url" content="http://securityhq.io/">
  <meta name="twitter:title" content="SecurityHQ">
  <meta name="twitter:description" content="The Slack community for cyber-security professionals world-wide">
  <meta name="twitter:image" content="http://securityhq.io/assets/images/securityhq-avatar.png">

  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body ng-controller="AppController">

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h1 class="logo"><a href="/">SecurityHQ</a></h1>
      </div>
      <div class="col-xs-8 text-right">
        <ul class="social-tools">
          <li>
            <iframe src="https://securityhq.herokuapp.com/iframe" width="100" height="20" frameborder="0"
                    scrolling="no" allowTransparency="true"></iframe>
          </li>
          <li>
            <a href="https://twitter.com/SecurityHQio" class="twitter-follow-button" data-show-count="false">Follow
              @SecurityHQio</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </li>
          <li>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsecurityhq.io&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:20px;" allowTransparency="true"></iframe>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="row">
        <div class="col-sm-12 col-md-10">

          <h1 class="main-slug">The Slack community for cyber-security professionals world-wide.</h1>

          <h2 class="secondary-slug">
            Connect with other security professionals and start sharing stories,
            experiences and knowledge with people from across the globe.
          </h2>
        </div>
      </div>
      <a href="" class="btn btn-lg block-xs btn-bordered" ng-click="signup()">
        Join Community
      </a>
    </div>
  </div>
</header>

<div class="container">

</div>


<!-- Signup modal -->
<script type="text/ng-template" id="signup_modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Join SecurityHQ</h4>

    <div class="modal-subtitle">Don’t worry, Slack says it’s pretty secure.</div>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" ng-show="error">
      {{ error }}
    </div>
    <form data-mailchimp="//dutchcoders.us9.list-manage.com/subscribe/post?u=1ef324743ad8d5b203c7fa759&id=68efaa3e79" method="post" ng-submit="submit($event)" name="signupForm" novalidate>
      <div class="form-group"
           ng-class="{'has-error': (signupForm.$submitted || signupForm.FNAME.$touched) && signupForm.FNAME.$invalid}">
        <span class="icon icon-lock"></span>
        <input type="text" class="form-control input-lg" name="FNAME" ng-model="user.FNAME" 
               placeholder="First name" required>
      </div>
      <div class="form-group"
           ng-class="{'has-error': (signupForm.$submitted || signupForm.LNAME.$touched) && signupForm.LNAME.$invalid}">
        <span class="icon icon-lock"></span>
        <input type="text" class="form-control input-lg" name="LNAME" ng-model="user.LNAME" 
               placeholder="Last name" required>
      </div>
      <div class="form-group"
           ng-class="{'has-error': (signupForm.$submitted || signupForm.EMAIL.$touched) && signupForm.EMAIL.$invalid}">
        <span class="icon icon-mail"></span>
        <input type="email" class="form-control input-lg" name="EMAIL" ng-model="user.EMAIL" placeholder="Email"
               required>
      </div>
      <div class="form-group"
           ng-class="{'has-error': (signupForm.$submitted || signupForm.LINKEDIN.$touched) && signupForm.LINKEDIN.$invalid}">
        <span class="icon icon-lock"></span>
        <input type="url" class="form-control input-lg" name="LINKEDIN" ng-model="user.LINKEDIN"
               placeholder="LinkedIn profile URL" required>
      </div>

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_1ef324743ad8d5b203c7fa759_68efaa3e79" tabindex="-1" value=""></div>

      <button type="submit" name="subscribe" class="btn btn-lg btn-primary btn-block btn-login">Join community</button>
    </form>
  </div>
  <div class="modal-footer">
    <div class="terms">
      By signing up you agree to <a href="https://slack.com/terms-of-service" target="_blank">Terms of Service</a>.
    </div>
  </div>
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-63224853-1', 'auto');
  ga('send','pageview');
</script>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
